.main img {
    width: 100%;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.pointer {
    cursor: pointer;
}

.main {
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.cc-heading {
    margin-left: 4vw;
    margin-top: 3vw;
    display: flex;
    align-items: first baseline;
    gap: 2vw;
}

.cc-cgpa {
    font-size: 7.7vw;
    font-weight: 700;
    color: #E1C16E;
    text-shadow: 0px 0px 5px #00000055;
}

.cc-calc {
    font-size: 3.3vw;
    font-weight: 700;
    color: #E1C16E;
    text-shadow: 0px 0px 5px #00000044;

}

.cc-ham-burg {
    position: fixed;
    right: 4.5vw;
    top: 1.5vw;
    font-size: 3.3vw;
    font-weight: 700;
    text-shadow: 0px 0px 5px #00000044;
}

.cc-main-ops-outer {
    margin-top: 1vw;
    gap: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.cc-main-ops {
    width: 50vw;
    height: 44vw;
    background-color: #ffffff69;
    box-shadow: 0px 0px 10px #00000033;
    padding: 2vw 0;
    padding-top: 7vw;
    border-radius: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    overflow-x: hidden;
    overflow-y: scroll;
}

.cc-mo-top {
    font-size: 2.2vw;
    text-align: center;
    font-weight: 700;
    color: #000000b8;
    text-transform: uppercase;
}

.cc-mo-mid {
    flex-wrap: wrap;
    width: 45vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vw;
}

.cc-mo-mid-ips {
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
}

.cc-mo-mi {
    display: flex;
    gap: 1vw;


}

.cc-mo-mid-ips span {
    margin-left: 1vw;
    font-size: 1.2vw;
    font-weight: 700;
    color: #000000b8;
    text-transform: uppercase;
}

.cc-mo-mid-ips input::placeholder {
    color: #ffffffb0;
}

.cc-mo-ta {
    width: 21vw;
    height: 2.8vw;
    border: none;
    box-shadow: 0px 0px 5px #00000088;
    background-color: #00000055;
    font-size: 1.5vw;
    border-radius: 3vw;
    padding: 0 1vw;
    color: #ffffff;
    font-size: 1vw;
}

.cc-mo-ta:focus {
    outline: none;
    border: 2px solid #ffffff;
}

.cc-mo-btn {
    height: 3vw;
    border: none;
    box-shadow: 0px 0px 5px #00000069;
    color: #000000b8;
    font-size: 1.2vw;
    font-weight: 700;
    border-radius: 3vw;
    padding: 0 1.5vw;
    background-color: #ffffff88;
    margin-bottom: 0.7vw;
}

.cc-main-hamops {
    width: 25vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 5vw;
    text-align: center;
    gap: 1.5vw;
    font-size: 1.5vw;
    color: #000000d5;
    background-color: #ffffff4b;
    position: fixed;
    top: 0vw;
    right: 0;
    border-radius: 1vw 0 0 1vw;
    display: none;
    box-shadow: 0 0 100vw 200vw #000000a6;
    transition: all 1s ease-in-out;
}

.cc-mh-close {
    position: fixed;
    right: 2.5vw;
    top: 1.5vw;
    font-size: 2.2vw;
    font-weight: 700;
    text-shadow: 0px 0px 5px #00000044;
}

@media (max-width: 1500px) {
    body {
        background-color: #000000;
        background-color: #0000000e;
    }

    .main img {
        display: none;
    }

    .cc-cgpa {
        font-size: 8.8vw;
        color: #00a2ff;
        color: #000000;
    }

    .cc-calc {
        font-size: 4.4vw;
        color: #00a2ff;
        color: #000000;

    }

    .cc-ham-burg {
        font-size: 6.6vw;
        color: #00a2ff;
        color: #000000;

        right: 5vw;
        top: 6vw;
    }

    .cc-main-ops-outer {
        margin-top: 10vw;
        gap: 5vw;
    }

    .cc-main-ops {
        width: 85vw;
        height: 130vw;
        gap: 5vw;
        background-color: #ffffff00;
        box-shadow: 0 0 5px 2px #0000001a;
        /* border:1px solid #00000069; */
        border-radius: 2px;
        padding: 0px 0px;
        padding-top: 0px;

    }


    .cc-mo-top {
        font-size: 3.5vw;
    }

    .cc-mo-ta {
        width: 40vw;
        height: 6.66vw;
        background-color: #ffffff00;
        color: #000000;
        font-size: 2.5vw;
        padding-left: 2vw;
        box-shadow: none;
        border: 1px solid #00000069;
        border-radius: 2px;
    }

    .cc-mo-ta:focus {
        background-color: #ffffff;

    }

    .cc-mo-btn {
        height: 6.66vw;
        font-size: 2.5vw;
        padding: 0 15vw;
        background-color: #000000;
        box-shadow: none;
        color: #ffffff;
        border-radius: 2px;
        font-weight: 500;
    }

    .cc-mo-mid {
        flex-wrap: nowrap;
        gap:3vw;
    }

    .cc-mo-mid-ips {
        gap: 2vw;
    }

    .cc-mo-mid-ips input::placeholder {
        color: #585858;
    }

    .cc-mo-mid-ips span {
        font-size: 2.5vw;
    }

    
    .cc-main-hamops{
        width:50vw;
        background-color: #ffffff;
        gap:3vw;
        padding-top: 10vw;
    }
    .cc-mh-close{
        font-size: 4vw;
        top: 5vw;
        right: 5vw;
    }
    .cc-mh-lnks{
        font-size: 3vw;
        color:#000000;
    }
}